
     <!-- <% if(listTitle == "Saturday" || listTitle =="Sunday"){ %> 
        <h1 style="color: violet;">hello bitch its <%= listTitle %> ToDo list</h1>
    <% } else { %>
        <h1 style="color: purple;">hello bitch its <%= listTitle %></h1>
    <% } %>  -->
<%- include("header") -%> 
    <div class="box" id="heading">
        <h1 style="color: #ffffff;">Hello bitch its <%= listTitle %></h1>
    </div>
    
 <div class="box">
    

    <%  newListItems.forEach(function(item){%>
    <form action="/delete"  method="post">
        <div class="item">
            <input value="<%= item._id %>" type="checkbox" onChange="this.form.submit()" name="checkbox">
            <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
    </form>
        <%  })   %>

        
    
     
            <form action="/" method="post" class="item">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %> >+</button>
            </form>

 </div>
   
 <%- include("footer") -%> 
